Repository mazanec202/rust-uno, pull requests merged in 2022-01, with the labels that each got.

#16 Issue #11 & #13: Create game & Add players
  backend/src/cards/card.rs
  backend/src/gamestate/game.rs
  backend/src/gamestate/mod.rs
  backend/src/gamestate/player.rs
  backend/src/main.rs
Labels: backend-domain

#17 Issue #15: WS Message - STATUS
  backend/src/cards/card.rs
  backend/src/gamestate/game.rs
  backend/src/gamestate/mod.rs
  backend/src/gamestate/player.rs
  backend/src/gamestate/serialization.rs
Labels: backend-domain

#22 Feature/home page
  Cargo.toml
  frontend/Cargo.toml
  frontend/Trunk.toml
  frontend/index.html
  frontend/resources/Logo.png
  frontend/src/components/home.rs
  frontend/src/components/mod.rs
  frontend/src/main.rs
Labels: frontend

#24 Feature/create game util
  backend/Cargo.toml
  backend/src/cards/deck.rs
  backend/src/gamestate/game.rs
  backend/src/gamestate/mod.rs
  backend/src/gamestate/player.rs
  backend/src/handlers.rs
  backend/src/jwt.rs
  backend/src/main.rs
  backend/src/repo/address_repo.rs
  backend/src/repo/game_repo.rs
  backend/src/repo/mod.rs
Labels: backend-util

#43 Issue/14 websockets
  backend/Cargo.toml
  backend/src/handler/mod.rs
  backend/src/handler/ws_connect.rs
  backend/src/main.rs
  backend/src/ws/mod.rs
  backend/src/ws/ws_actor.rs
  backend/src/ws/ws_conn.rs
  backend/src/ws/ws_message.rs
Labels: backend-util

#44 Issue/14 websockets - domain based factory methods
  backend/src/cards/card.rs
  backend/src/gamestate/game.rs
  backend/src/gamestate/mod.rs
  backend/src/gamestate/player.rs
  backend/src/handler/ws_connect.rs
  backend/src/ws/mod.rs
  backend/src/ws/ws_message.rs
  backend/src/ws/ws_structs/draw.rs
  backend/src/ws/ws_structs/finish.rs
  backend/src/ws/ws_structs/mod.rs
  backend/src/ws/ws_structs/play_card.rs
  backend/src/ws/ws_structs/status.rs
Labels: backend-util, backend-domain

#41 Issue #18, #30 & #31: game start, card plays and draws (domain)
  backend/src/cards/card.rs
  backend/src/cards/deck.rs
  backend/src/err/draw_cards.rs
  backend/src/err/game_start.rs
  backend/src/err/mod.rs
  backend/src/err/play_card.rs
  backend/src/err/player_exist.rs
  backend/src/err/player_turn.rs
  backend/src/err/status.rs
  backend/src/gamestate/active_cards.rs
  backend/src/gamestate/game.rs
  backend/src/gamestate/mod.rs
  backend/src/gamestate/player.rs
  backend/src/handler/create_game.rs
  backend/src/handler/ws_connect.rs
  backend/src/main.rs
  backend/src/tests/deck_test.rs
  backend/src/tests/game_test.rs
  backend/src/ws/mod.rs
  backend/src/ws/ws_message.rs
  backend/src/ws/ws_structs/draw.rs
  backend/src/ws/ws_structs/finish.rs
  backend/src/ws/ws_structs/mod.rs
  backend/src/ws/ws_structs/play_card.rs
  backend/src/ws/ws_structs/status.rs
Labels: backend-domain

#55 Fix HTTP status codes and messages
  backend/src/handler/join_game.rs
Labels: backend-util

#54 Issue #51: said_uno
  backend/src/cards/deck.rs
  backend/src/err/draw_cards.rs
  backend/src/err/game_start.rs
  backend/src/err/play_card.rs
  backend/src/err/player_turn.rs
  backend/src/gamestate/active_cards.rs
  backend/src/gamestate/game.rs
  backend/src/gamestate/mod.rs
  backend/src/gamestate/player.rs
  backend/src/tests/game_test.rs
  backend/src/ws/ws_message.rs
  backend/src/ws/ws_structs/gained_cards.rs
  backend/src/ws/ws_structs/mod.rs
  backend/src/ws/ws_structs/penalty.rs
  backend/src/ws/ws_structs/status.rs
  endless_test.sh
Labels: backend-domain

#47 Feature/route game/id UI
  .gitignore
  backend/Cargo.toml
  backend/src/main.rs
  frontend/Cargo.toml
  frontend/README.md
  frontend/resources/card_face_down.png
  frontend/resources/draw_pile.png
  frontend/resources/rotate_arrow-L.png
  frontend/resources/rotate_arrow-R.png
  frontend/src/components/card.rs
  frontend/src/components/home.rs
  frontend/src/components/mod.rs
  frontend/src/components/myuser.rs
  frontend/src/components/oponent.rs
  frontend/src/main.rs
  frontend/src/module/mod.rs
  frontend/src/module/module.rs
  frontend/src/pages/game.rs
  frontend/src/pages/home.rs
  frontend/src/pages/mod.rs
  frontend/src/sample_data.rs
  frontend/src/url.rs
  frontend/src/util/alert.rs
  frontend/src/util/local_storage.rs
  frontend/src/util/mod.rs
Labels: frontend

#79 Fixed Game status changing to Finished too late
  backend/src/gamestate/game.rs
  backend/src/tests/game_test.rs
Labels: backend-domain
